@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .transition-width {
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }
}